@charset "UTF-8";

/* 폰트 불러오기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
html > body {
	font-family: 'GmarketSansMedium', sans-serif;
	text-underline-position: under;
}

* {
	box-sizing: border-box;
}

.w-500px {
	width: 500px;
}

#chat {
	min-width: 500px;
}

#chat #talk {
	width: 500px;
	height: 400px;
	white-space: normal;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: break-word;
}

#chat #msg {
	width: 500px;
	height: 100px;
}

#chat #talk div{
	width: 60%;
	padding: 6px;
	border-radius: 10px;
}

#chat .me {
	background-color : #ffe600;
	margin : 2px 0px 2px 40%;	
}

#chat .other {
	background-color : #dedede;
	margin : 2px 0px;
}