@charset "UTF-8";

/* 폰트 불러오기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
html > body {
	font-family: 'GmarketSansMedium', sans-serif;
	text-underline-position: under;
}

/* 테두리를 기준으로 박스의 크기를 정함 */
* {
	box-sizing: border-box;
}

.w-104 {
	width: 416px;
}

.w-108 {
	width:432px;
}

.w-112 {
	width: 448px;
}

.min-w-800 {
	min-width: 800px;
}


/* 셀렉트박스 옵션 글자 크기 */
select > option {
	font-size: 16px;
}

/* 채팅방 목록 테이블 레이아웃 고정 */
.table-box-type-1 > table {
	table-layout: fixed;
}

/* 채팅방 목록 테이블 행(row) 높이 */
.table-box-type-1 > table tr {
	height: 1rem;
}

/* 채팅방 목록 테이블 셀 테두리, 패딩, 글자 정렬, 줄 바꿈 방지, 길어지면 숨겨지게 */
.table-box-type-1 > table th, .table-box-type-1 > table td {
	border: 1px solid #219fff;
	padding: 10px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 버튼 글자색 */
.btn-text-color {
	color: white;
}

/* 버튼 글자색, 호버시 변경 */
.btn-text-color:hover {
	color: black;
}

/* 여기부터 테스트 단계, 아직 손 봐야함 */
#chat #message-area {
	width: 500px;
	height: 450px;
	white-space: normal;
	overflow-y: scroll;
	word-wrap: break-word;
	word-break: break-word;
	border: 1px solid #2ab1fa;
}

#chat #message-area .event-message {
	padding: 6px;
	text-align: center;
	width: 100%;
	border-top: 1px solid #96e3ff;
	border-bottom: 1px solid #96e3ff;
}

#chat #message-area .me {
	width: 60%;
	padding: 6px;
	border-radius: 10px;
	background-color : #ffe600;
	margin : 2px 0px 2px 40%;
}

#chat #message-area .other {
	width: 60%;
	padding: 6px;
	border-radius: 10px;
	background-color : #dedede;
	margin : 2px 0px;
}

#chat #message-form {
	width: 500px;
}

#chat #info {
	width: 280px;
	height: 450px;
	border: 1px solid #2ab1fa;
}

#chat #info #host {
	border-bottom: 1px solid #96e3ff;
	padding: 8px 0px;
}