@charset "UTF-8";

/* 폰트 불러오기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
html > body, html > body .ProseMirror, html > body .toastui-editor-contents {
	font-family: 'GmarketSansMedium', sans-serif;
	text-underline-position: under;
}

/* 테두리를 기준으로 박스의 크기를 정함 */
* {
	box-sizing: border-box;
}

/* 에디터, 뷰어 글자 크기 */
html > body .ProseMirror, html > body .toastui-editor-contents {
	font-size: 18px;
}

.ml-1px {
	margin-left: 1px;
}

.my-1px {
	margin-top: 1px;
	margin-bottom: 1px;
}

.w-25px {
	width: 25px;
}

.w-68 {
	width: 272px;
}

.w-112 {
	width: 448px;
}

.h-25px {
	height: 25px;
}

.min-w-900 {
	min-width: 900px;
}

.min-w-1000 {
	min-width: 1000px;
}

/* 셀렉트박스 옵션 글자 크기 */
select > option {
	font-size: 16px;
}

/* 화면에서 탑바 맨앞에 위치, 위치 고정 */
.top-bar {
	z-index: 9999;
	position: fixed;
}

/* 탑바 메뉴아이템 텍스트 글자색 */
.top-bar > .menu-box > ul > li > .topbar-text-link {
	position: relative;
	color: rgba(0, 0, 0, 0.4);
	transition: color .3s;
}

/* 탑바 메뉴아이템 텍스트 글자색, 호버시 변경 */
.top-bar > .menu-box > ul > li:hover > .topbar-text-link {
	color: rgba(0, 0, 0, 1);
}

/* 탑바 메뉴아이템 텍스트 밑에 밑줄 추가, 길이 0 */
.top-bar > .menu-box > ul > li > .topbar-text-link::after {
	content:"";
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	bottom: 0;;
	left: 0;
	width: 0px;
	height: 3px;
	transition: width .3s;
}

/* 탑바 메뉴아이템 텍스트 밑에 밑줄, 호버시 길이 100% */
.top-bar > .menu-box > ul > li:hover > .topbar-text-link::after {
	width: 100%;
}

/* light, dark 모드 icon 변경 */
.top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-moon {
	display: none;
}

/* light, dark 모드 icon 변경 */
html[data-theme="night"] .top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-moon {
	display: inline;
}

/* light, dark 모드 icon 변경 */
html[data-theme="night"] .top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-sun {
	display: none;
}

/* light, dark 모드 icon 아래 메시지 */
.top-bar > .menu-box > ul > li.theme-toggle {
	position: relative;
}

/* light, dark 모드 icon 아래 메시지, 숨김 */
.top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-msg {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}

/* light, dark 모드 icon 아래 메시지, 호버시 보임 */
.top-bar > .menu-box > ul > li.theme-toggle:hover > .theme-toggle-msg {
	display: block;
}

/* 버튼 글자색 */
.btn-text-color {
	color: white;
	font-size: 1.2rem;
}

/* 버튼 글자색, 호버시 변경 */
.btn-text-color:hover {
	color: black;
}

/* 탑바 드랍다운 메뉴아이템 */
nav.menu-box > ul > li > div.dropdown > ul.dropdown-content {
	left: 0;
	top: 100%;
	color: black;
	font-size: 1.2rem;
}

/* 메인페이지 이미지, 호버시 투명도 변경 */
a:hover > .main-image {
	opacity: 0.5;
}

/* 프로필, 개인정보 수정, 비밀번호 변경 테이블 행(row) 높이 */
.table-box-type-1 > table tr {
	height: 3.5rem;
}

/* 프로필, 개인정보 수정, 비밀번호 변경 테이블 셀 테두리, 글자 정렬, 패딩 */
.table-box-type-1 > table th, .table-box-type-1 > table td {
	border-top: 1px solid rgb(134, 247, 238);
	border-bottom: 1px solid rgb(134, 247, 238);
	padding: 15px;
	text-align: left;
}

/* 프로필, 개인정보 수정, 비밀번호 변경 테이블 셀 테두리 */
.table-box-type-1 > table th {
	border-right: 1px solid rgb(134, 247, 238);
}

/* 게시물 목록 테이블 레이아웃 고정 */
.table-box-type-2 > table {
	table-layout: fixed;
}

/* 게시물 목록 테이블 셀 테두리, 패딩, 줄 바꿈 방지, 길어지면 숨겨지게 */
.table-box-type-2 > table th, .table-box-type-2 > table td {
	border-top: 1px solid rgb(134, 247, 238);
	border-bottom: 1px solid rgb(134, 247, 238);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 메인페이지의 (공지사항, 인기글) 게시물 목록 테이블 레이아웃 고정, 테두리 */
.table-box-type-3 > table {
	table-layout: fixed;
	border: 1px solid #5293fa;
}

/* 메인페이지의 (공지사항, 인기글) 게시물 목록 테이블에서 공지사항 or 인기글이 쓰여있는 셀의 높이, 패딩, 테두리 */
.table-box-type-3 > table tr.title > td {
	height: 2rem;
	padding: 10px;
	border-top: 1px solid #5293fa;
	border-bottom: 1px solid #5293fa;
}

/* 메인페이지의 (공지사항, 인기글) 게시물 목록 테이블 줄 바꿈 방지, 길어지면 숨겨지게 */
.table-box-type-3 > table tr > td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 소환사 아이콘에 소환사 레벨 겹치기 */
.summoner-icon {
	position: relative;
}

/* 소환사 아이콘에 소환사 레벨 겹치기 */
.summoner-icon > .summoner-level {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	background-color: rgb(207, 247, 126);
	border-radius: 5px;
}

/* 원형 차트 상단에 타이틀 보여주기 */
.pieChartTitleOverlay {
	position: absolute;
	top: 5%;
}

/* 원형 차트 가운데에 승률 보여주기 */
.pieChartWithOverlay {
	position: relative;
}

/* 원형 차트 가운데에 승률 보여주기 */
.pieChartOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0076f5;
}

/* 막대 차트 아래에 포지션 이미지 위치시키기 */
.barChartWithOverlay {
	position: relative;
}

/* 막대 차트 아래에 포지션 이미지 위치시키기 */
.barChartOverlay {
    position: absolute;
    top: 85%;
    left: 17%;
}

/* 글 상세보기 제목에서 영어 띄어쓰기 없이 쓰면 영역 벗어나는 것 줄바꿈 되게 */
.detail-title {
	word-wrap: break-word;
	word-break: break-word;
}

/* 글 상세보기 최소 높이 지정 */
.toast-ui {
	min-height: 200px;
}

/* 맨위로 이동하는 버튼 처음에 안보이게, 위치 오른쪽 아래 고정 */
.move-top-btn {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 9999;
	cursor: pointer;
 }