@charset "UTF-8";

/* 폰트 불러오기 */
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 폰트 적용 */
html > body {
	font-family: 'KIMM_Bold', sans-serif;
	text-underline-position: under;
}

.ml-1px {
	margin-left: 1px;
}

.my-1px {
	margin-top: 1px;
	margin-bottom: 1px;
}

.w-25px {
	width: 25px;
}

.w-112 {
	width: 28rem;
}

.h-25px {
	height: 25px;
}

.min-w-900 {
	min-width: 900px;
}

.min-w-1000 {
	min-width: 1000px;
}

/* 화면에서 탑바 맨앞에 위치, 위치 고정 */
.top-bar {
	z-index: 9999;
	position: fixed;
}

/* 탑바 메뉴아이템 텍스트 글자색 */
.top-bar > .menu-box > ul > li > .topbar-text-link {
	position: relative;
	color: rgba(0, 0, 0, 0.4);
	transition: color .3s;
}

/* 탑바 메뉴아이템 텍스트 글자색, 호버시 변경 */
.top-bar > .menu-box > ul > li:hover > .topbar-text-link {
	color: rgba(0, 0, 0, 1);
}

/* 탑바 메뉴아이템 텍스트 밑에 밑줄 추가, 길이 0 */
.top-bar > .menu-box > ul > li > .topbar-text-link::after {
	content:"";
	background-color: rgba(0, 0, 0, 1);
	position: absolute;
	bottom: 0;;
	left: 0;
	width: 0px;
	height: 3px;
	transition: width .3s;
}

/* 탑바 메뉴아이템 텍스트 밑에 밑줄, 호버시 길이 100% */
.top-bar > .menu-box > ul > li:hover > .topbar-text-link::after {
	width: 100%;
}

/* light, dark 모드 icon 변경 */
.top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-moon {
	display: none;
}

/* light, dark 모드 icon 변경 */
html[data-theme="night"] .top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-moon {
	display: inline;
}

/* light, dark 모드 icon 변경 */
html[data-theme="night"] .top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-icon .fa-sun {
	display: none;
}

/* light, dark 모드 icon 아래 메시지 */
.top-bar > .menu-box > ul > li.theme-toggle {
	position: relative;
}

/* light, dark 모드 icon 아래 메시지, 숨김 */
.top-bar > .menu-box > ul > li.theme-toggle > .theme-toggle-msg {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}

/* light, dark 모드 icon 아래 메시지, 호버시 보임 */
.top-bar > .menu-box > ul > li.theme-toggle:hover > .theme-toggle-msg {
	display: block;
}

/* 버튼 글자색 */
.btn-text-color {
	color: white;
	font-size: 1.2rem;
}

/* 버튼 글자색, 호버시 변경 */
.btn-text-color:hover {
	color: black;
}

/* 드랍다운 메뉴아이템 */
.dropdown-content {
	left: 0;
	top: 100%;
	color: black;
	font-size: 1.2rem;
}

/* 메인페이지 이미지, 호버시 투명도 변경 */
a:hover > .main-image {
	opacity: 0.5;
}

/* 테이블 행(row) 높이 */
.table-box > table tr {
	height: 3.5rem;
}

/* 테이블 셀 테두리, 글자 정렬, 패딩 */
.table-box > table th, .table-box > table td {
	border-top: 1px solid rgb(134, 247, 238);
	border-bottom: 1px solid rgb(134, 247, 238);
	padding: 15px;
	text-align: left;
}

/* 테이블 셀 테두리 */
.table-box > table th {
	border-right: 1px solid rgb(134, 247, 238);
}

/* 소환사 아이콘에 소환사 레벨 겹치기 */
.summoner-icon {
	position: relative;
}

/* 소환사 아이콘에 소환사 레벨 겹치기 */
.summoner-icon > .summoner-level {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	background-color: rgb(207, 247, 126);
	border-radius: 5px;
}

/* 원형 차트 가운데에 승률 보여주기 */
.pieChartWithOverlay {
	position: relative;
}

/* 원형 차트 가운데에 승률 보여주기 */
.pieChartOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0076f5;
}

/* 막대 차트 아래에 포지션 이미지 위치시키기 */
.barChartWithOverlay {
	position: relative;
}

/* 막대 차트 아래에 포지션 이미지 위치시키기 */
.barChartOverlay {
    position: absolute;
    top: 85%;
    left: 17%;
}